@import url('https://fonts.googleapis.com/css2?family=Montserrat&family:100, 200, 300, 400, 500, 600, 700=Open+Sans:wght@300&display=swap:100, 200, 300, 400, 500, 600, 700');

/*-----------------------------------------Colours */ 



/*-----------------------------------------Design elements */ 

hr.rounded {
  border-top: 1px solid #F2B6A9;
  border-radius: 5px;
  width: 70%;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #3C4D5C;
    text-align: center;
}

p {
    font-family: "Open Sans", sans-serif;
    color: #3C4D5C;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #3C4D5C;
}

.inline-block {
    display: inline-block;
}

/*-----------------------------------------Navbar */ 
.navbar-custom {
    background-color: #B4C9BE;
}

.navbar-custom .navbar-nav .nav-link {
    color: #3C4D5C;
}

.navbar-custom .nav-item.active .nav-link {
    color: #003333;
}

.navbar-custom .nav-item:hover .nav-link {
    color: #EAE9EA;
}

.navbar {
    height: 120px;
    -webkit-box-shadow: 5px 2px 5px 5px rgba(194, 192, 192, 0.3);
    -moz-box-shadow: 5px 2px 5px 5px rgba(194, 192, 192, 0.3);
    box-shadow: 5px 2px 5px 5px rgba(194, 192, 192, 0.3);
}

.navbar-brand {
    height: 100px;
    width: 100px;
    margin: 0;
    padding: 5px;
    position: relative;
    display: flex;
}

.navbar-nav li{
  border-right: 1px solid #EAE9EA;
}

.nav-item {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: .2em;
    color: #3C4D5C;
}

.navbar-collapse {
    background-color:#B4C9BE;
}

.navbar .navbar-toggler {
    border: 0;
}

@media (min-width: 576px) and (max-width: 767.98px) {
.navbar-expand-sm .navbar-nav .nav-link {
    padding: 0;
    margin: 0;
    font-size: 14px;
    letter-spacing: 0em;
}
}

@media (min-width: 0px) and (max-width: 576px) {
.navbar-nav li  {
  border-right: 0;
}
}


/*-----------------------------------------Carousel */ 

.carousel-inner > .item {
  height: auto;
}

@media only screen and (min-width: 768px) {
  .carousel-inner > .item {
    height: 20em;
  }

  .carousel-inner > .item img {
    height: auto;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

/*-----------------------------------------About (index.html) */

.btn-custom {
    background-color: #F2B6A9;
    color: #3C4D5C;
}

.about-circle {
    padding-bottom: 15px;
    margin: 0;
}

.about-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}


/*-----------------------------------------3 features */

.img-fluid {
    max-width: 100%;
    height: 500px;
}

.features {
    padding: 5px 120px 5px 120px;    
}

/*-----------------------------------------Footer */

footer {
    background-color: #EAE9EA;
    min-height: 120px;
}

.social-links {
    padding-bottom: 15px;
}
.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #EAE9EA;
    background: #F2B6A9;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #3C4D5C;
}

#footer-details {
    padding: 20px;
}

/*-----------------------------------------Goodies */

.instructable-pdf {
    color: #F2B6A9;

}

/*-----------------------------------------About Gallery */

.pic {
    padding: 10px;
    display: block;
}

.gap {
    padding: 70px 0;
}

.zoom {
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

/*-----------------------------------------Workshops - Cards */


/*-----------------------------------------Workshops - Table */

.table {
    margin: 0;
}

.table-background {
    background-color: rgb(242, 182, 169, .3);
    -webkit-box-shadow: 0px 2px 5px 2px rgba(194, 192, 192, 0.3);
    -moz-box-shadow: 0px 2px 5px 2px rgba(194, 192, 192, 0.3);
    box-shadow: 0px 2px 5px 2px rgba(194, 192, 192, 0.3);
}

table tr, table tr th{
    background-color: rgb(242, 182, 169, .1) !important;
    font-family: "Open Sans";
    font-size: 15px;
}

td {
    background-color: rgba(194, 192, 192, 0.2);
}

.svg-icon {
    width: 50px;
    height: 50px;
    fill: #3C4D5C;   
}

.workshop-table-header {
    font-family: "Open Sans";
    text-align: center;
    color: #3C4D5C
}

/*-----------------------------------------Media Queries */


/* change the brand and text color
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
*/

/* change the link color 
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
*/

/* change the color of active or hovered links
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
*/

/* for dropdown only - change the color of droodown
.navbar-custom .dropdown-menu {
    background-color: #B4C9BE;
}
.navbar-custom .dropdown-item {
    color: #ffffff;
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #333333;
    background-color: rgba(255,255,255,.5);
}
*/
