@import url('https://fonts.googleapis.com/css2?family=Montserrat&family:100, 200, 300, 400, 500, 600, 700=Open+Sans:wght@300&display=swap:100, 200, 300, 400, 500, 600, 700');

/*-----------------------------------------Colours */ 

.navbar-custom {
    background-color: #B4C9BE;
}

/*-----------------------------------------Design elements */ 

hr.rounded {
  border-top: 1px solid #F2B6A9;
  border-radius: 5px;
  width: 70%;
}

h1, h2, h3, h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #3C4D5C;
}

.inline-block {
    display: inline-block;
}

/*-----------------------------------------Navbar */ 

.navbar {
    height: 120px;
}

.navbar-brand {
    height: 100px;
    width: 100px;
    margin: 0;
    padding: 5px;
    position: relative;
}

.navbar-nav li{
  border-right: 1px solid #3C4D5C;
}

/*-----------------------------------------Carousel */ 

.carousel-inner > .item {
  height: auto;
}

@media only screen and (min-width: 768px) {
  .carousel-inner > .item {
    height: 20em;
  }

  .carousel-inner > .item img {
    height: auto;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

/*-----------------------------------------3 features */

.img-fluid {
    max-width: 100%;
    height: 500px;
}

/*-----------------------------------------Footer */

footer {
    background-color: #EAE9EA;
    min-height: 120px;
}

.social-links {
    padding-bottom: 15px;
}
.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #EAE9EA;
    background: #F2B6A9;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #3C4D5C;
}

#footer-details {
    padding: 20px;
}

/*-----------------------------------------Goodies */

.instructable-pdf {
    color: #F2B6A9;

}








/* change the brand and text color
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
*/

/* change the link color 
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
*/

/* change the color of active or hovered links
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
*/

/* for dropdown only - change the color of droodown
.navbar-custom .dropdown-menu {
    background-color: #B4C9BE;
}
.navbar-custom .dropdown-item {
    color: #ffffff;
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #333333;
    background-color: rgba(255,255,255,.5);
}
*/
